{
  "passPerPreset": false,
  "presets": [
    "react",
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
